.red {
  color: red;
}

.green {
  color: green;
}
.clickable-row {
  cursor: pointer;
}

/* Пагинация */
.pagination .page-link {
  background-color: #212529;
  color: #f8f9fa;
  border-color: #495057;
}

.pagination .page-link:hover {
  background-color: #343a40;
  color: #fff;
}
.pagination .page-link:focus {
  background-color: #343a40;
  color: #f8f9fa;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.pagination .page-link:active {
  background-color: #495057;
  color: #fff;
}

.pagination .page-item.active .page-link {
  background-color: #495057;
  border-color: #495057;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  background-color: #212529;
  color: #6c757d;
}
